* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#de6262 , #ffb88c); */
    /* background: linear-gradient(#d66d75 , #e29587,black); */
    background: linear-gradient(250deg,#e8f2cf, #d1e7b9,#c3ddae, #aacd97);
    
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: hue-rotate(30deg);
}

@keyframes gradient-animation-body {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


#logo-container {
    width: 50px !important;
    height: auto !important;
    position: relative;
}

/* .logo-container img{
    filter: invert(100%);
} */
/* img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
} */

.navigation a {
    position: relative;
    font-size: 1.1 em;
    color: rgb(33, 45, 36);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #04640e;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup {
    width: 90px;
    height: 40px;
    background: transparent;
    border: 2px solid #04640e;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: #04640e;
    color: white;
}

.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.form-box {
    width: 100%;
    padding: 40px;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
    padding-bottom: 12px;
}

.input-box label {

    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.Login-register {
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.Login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.Login-register p a:hover {
    text-decoration: underline;
}

.toggle-password {
    position: absolute;
    margin: 0px;
    right: 5px;
    color: black;
    font-size: .8em;
    font-weight: 500;
    cursor: pointer;
}